body{
    background-color: #00FA9A;
    display: grid;
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height:80px;
    background-color: #639A88;
    text-align: center;
}
nav{
  color:#4682B4;
  display:flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end;
  
}
nav li{
   float: right;
   margin: 20px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    background-color: #32CD32;
}
h1{
    font-family: 'Indie Flower', cursive;
}
.shop-item-one{
    text-align: left;
}
.Album1{
   max-width: 250px;
   float: left;
   padding: 2em;
}
.shop-item-two{
    text-align: right;
}
.Album2{
    max-width: 250px;
    float: right;
    padding: 2em;
}
.shop-item-three{
    text-align: left;
}
.Album3{
    max-width: 250px;
    float: left;
    padding: 2em;
}
.shop-item-four{
    text-align: right;
}
.Album4{
    max-width: 250px;
    float: right;
    padding: 2em;
}